@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  /* height: 100vh; */
  box-sizing: border-box;
  /* background-color: #97b1a6; */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(to bottom right, #fff, #97b1a6, #407076);
  color: #06070e;
}

.cabecalho {
  padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
  display: flex;
  gap: 80px;
}

.cabecalho__menu__link {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #407076;
  text-decoration: none;
}

.apresentacao {
  padding: 5% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.apresentacao__conteudo {
  width: 615px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.apresentacao__conteudo__titulo {
  font-size: 36px;
  font-family: 'Krona One', sans-serif;
}

.titulo-destaque {
  color: #407076;
}

.apresentacao__conteudo__texto {
  font-size: 24px;
  font-family: 'Montserrat', sans-serif;
}

.apresentacao__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.apresentacao__links__subtitulo {
  font-family: 'krona One', sans-serif;
  font-weight: 400;
  font-size: 24px;
}

.apresentacao__links__link {
  /* background-color: #e2b9b7; */
  display: flex;
  justify-content: center;
  gap: 16px;
  border: 2px solid #06070e;
  width: 378px;
  text-align: center;
  border-radius: 8px;
  font-size: 24px;
  font-weight: 600;
  padding: 21.5px 0;
  text-decoration: none;
  color: #06070e;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 4px 8px grey;
  transition: 0.5s;
}
.apresentacao__links__link:hover {
  /* background-color: #e2b9b7; */
  background-image: linear-gradient(#ded5d4, #e2b9b7);
  width: 400px;
  /* color: #fff; */
  transition: 0.5s;
}

.rodape {
  padding: 24px;
  color: #fff;
  background-color: #407076;
  box-shadow: 0px 0px 30px 3px grey;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
