@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
  --cor-primaria: #407076;
  --cor-secundaria: #e2b9b7;
  --cor-ternaria: #97b1a6;
  --cor-black: #06070e;
  --cor-white: #fff;

  --fonte-primaria: 'Krona One', sans-serif;
  --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(
    to bottom right,
    var(--cor-white),
    var(--cor-white),
    var(--cor-ternaria),
    var(--cor-primaria)
  );
  color: var(--cor-black);
}

.cabecalho {
  padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
  display: flex;
  gap: 80px;
}

.cabecalho__menu__link {
  font-family: var(--fonte-secundaria);
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--cor-primaria);
  text-decoration: none;
}

.apresentacao {
  padding: 5% 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 82px;
}

.apresentacao__conteudo {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.apresentacao__conteudo__titulo {
  font-size: 2.25rem;
  font-family: var(--fonte-primaria);
}

.titulo-destaque {
  color: var(--cor-primaria);
}

.apresentacao__conteudo__texto {
  font-size: 1.5rem;
  font-family: var(--fonte-secundaria);
}

.apresentacao__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}

.apresentacao__links__subtitulo {
  font-family: var(--fonte-primaria);
  font-weight: 400;
  font-size: 1.5rem;
}

.apresentacao__links__navegacao {
  display: flex;
  justify-content: center;
  gap: 16px;
  border: 2px solid var(--cor-black);
  width: 50%;
  text-align: center;
  border-radius: 8px;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 21.5px 0;
  text-decoration: none;
  color: var(--cor-black);
  font-family: var(--fonte-secundaria);
  box-shadow: 0 4px 8px var(--cor-primaria);
  transition: 0.5s;
}
.apresentacao__links__navegacao:hover {
  background-image: linear-gradient(
    to bottom right,
    var(--cor-white),
    var(--cor-secundaria)
  );
  width: 400px;
  transition: 0.5s;
}

apresentacao__imagem {
  width: 50%;
}

.rodape {
  padding: 24px;
  color: var(--cor-white);
  background-color: var(--cor-primaria);
  box-shadow: 0px 0px 30px 3px var(--cor-ternaria);
  text-align: center;
  font-family: var(--fonte-secundaria);
  font-size: 1rem;
  font-weight: 400;
}

@media (max-width: 1200px) {
  .cabecalho {
    padding: 10%;
  }

  .cabecalho__menu {
    justify-content: center;
  }

  .apresentacao {
    flex-direction: column-reverse;
    padding: 5%;
  }
  .apresentacao__conteudo {
    width: auto;
  }
}
